name = "XROGA AI TRACKING"
client_id = "01eb5efeb620eef58d313a65bfe89e0c"
application_url = "https://ai-order-trackers.pages.dev"
embedded = true

[auth]
redirect_urls = [
  "https://courierdetect.evanderthorne-help.workers.dev/auth/callback",
  "https://ai-order-trackers.pages.dev/auth/callback"
]

[app]
url = "https://ai-order-trackers.pages.dev/"
embedded = true
pos = { embedded = false }

scopes = """
  read_all_orders,
  read_customers,
  read_customer_data_erasure,
  write_customer_data_erasure,
  read_fulfillments,
  write_fulfillments,
  read_orders,
  write_orders,
  read_products,
  read_shipping,
  customer_read_orders,
  customer_write_orders
"""

[webhooks]
api_version = "2025-10"

[[webhooks.subscriptions]]
topic = "customers/data_request"
address = "https://courierdetect.evanderthorne-help.workers.dev/webhooks/compliance"
format = "json"

[[webhooks.subscriptions]]
topic = "customers/redact"
address = "https://courierdetect.evanderthorne-help.workers.dev/webhooks/compliance"
format = "json"

[[webhooks.subscriptions]]
topic = "shop/redact"
address = "https://courierdetect.evanderthorne-help.workers.dev/webhooks/compliance"
format = "json"

[[webhooks.subscriptions]]
topic = "orders/create"
address = "https://courierdetect.evanderthorne-help.workers.dev/webhooks/orders/create"
format = "json"

[[webhooks.subscriptions]]
topic = "orders/updated"
address = "https://courierdetect.evanderthorne-help.workers.dev/webhooks/orders/updated"
format = "json"

[[webhooks.subscriptions]]
topic = "orders/fulfilled"
address = "https://courierdetect.evanderthorne-help.workers.dev/webhooks/orders/fulfilled"
format = "json"

[[webhooks.subscriptions]]
topic = "app/uninstalled"
address = "https://courierdetect.evanderthorne-help.workers.dev/webhooks/app_uninstalled"
format = "json"

[build]
command = "npm run build"
